services:
  postgres:
    image: postgres:16-alpine
    container_name: ${POSTGRES_HOST}
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - movies-network
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"
  movies-app-container:
    image: vladali/movies-app:1.0.0
    container_name: movies-app-container
    restart: unless-stopped
    ports:
      - "8080:8080"
    volumes:
      - ./config.yml:/app/config.yml
      - ./migrations:/app/migrations
    depends_on:
      - postgres
      - ollama
    networks:
      - movies-network

    command: ["./app"]
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"

  ollama:
    image: ollama/ollama:0.6.8
    container_name: ollama
    restart: unless-stopped
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    networks:
      - movies-network
    logging:
      driver: "local"
      options:
        max-size: "10m"
        max-file: "3"


volumes:
  postgres-data:
  ollama-data:

networks:
  movies-network:
